.card {
  height: auto;
  width: 100%;
  padding: 1.5rem;
  margin: 1rem 0;
  border: 1px solid #161616;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  cursor: pointer;
  color: #bcbcbc;
  background-color: #03081b;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.card-title {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0.6rem;
}

.card-count {
  font-size: 0.8rem;
  font-family: 'Lato', sans-serif;
  color: #676e74;
}
