.header {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background: rgb(77, 0, 50);
  background: linear-gradient(
    101deg,
    rgba(77, 0, 50, 1) 8%,
    rgba(39, 0, 80, 1) 91%
  );
}

.header-title {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
}
